## Covid19 in India - Data Analysis & Predictive Modeling

#### Using the states.csv data file provided by https://covid19india.org

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import seaborn as sns
import missingno as mns

import warnings
warnings.filterwarnings('ignore')

In [6]:
covid_df = pd.read_csv('../Data/covid19indiaorg/states.csv')
covid_df.head(20)

          Date      State  Confirmed  Recovered  Deceased  Other     Tested
0   2020-01-30     Kerala          1          0         0      0        NaN
1   2020-01-30      India          1          0         0      0        NaN
2   2020-02-02     Kerala          2          0         0      0        NaN
3   2020-02-02      India          2          0         0      0        NaN
4   2020-02-03     Kerala          3          0         0      0        NaN
5   2020-02-03      India          3          0         0      0        NaN
6   2020-02-14     Kerala          3          3         0      0        NaN
7   2020-02-14      India          3          3         0      0        NaN
8   2020-02-20     Kerala          3          3         0      0        NaN
9   2020-02-20     Punjab          0          0         0      0  3675493.0
10  2020-02-20      India          3          3         0      0        NaN
11  2020-03-02      Delhi          1          0         0      0        NaN
12  2020-03-02     Kerala          3          3         0      0        NaN
13  2020-03-02     Punjab          0          0         0      0  3675493.0
14  2020-03-02  Telangana          1          0         0      0        NaN
15  2020-03-02      India          5          3         0      0        NaN
16  2020-03-03      Delhi          1          0         0      0        NaN
17  2020-03-03     Kerala          3          3         0      0        NaN
18  2020-03-03     Punjab          0          0         0      0  3675493.0
19  2020-03-03  Rajasthan          1          0         0      0        NaN

#### Data Preparation and Feature Engineering