In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import missingno as mns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the data
data = pd.read_csv('../Data/covid19indiaorg/raw_data22.csv')

In [3]:
# Make a copy of the data
rd_df = data.copy()

In [4]:
rd_df.head()

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Contracted from which Patient (Suspected),Notes,Source_1,Source_2,Source_3,Nationality,Type of transmission,Status Change Date,Patient Number
0,453529,NaN,09/01/2021,NaN,NaN,NaN,NaN,Telangana,TG,474,Recovered,NaN,NaN,http://twitter.com/drgsrao/status/134775880790...,NaN,NaN,NaN,NaN,NaN,NaN
1,453530,NaN,09/01/2021,NaN,NaN,NaN,NaN,Telangana,TG,2,Deceased,NaN,NaN,http://twitter.com/drgsrao/status/134775880790...,NaN,NaN,NaN,NaN,NaN,NaN
2,453531,NaN,09/01/2021,NaN,NaN,NaN,Adilabad,Telangana,TG,4,Hospitalized,NaN,NaN,http://twitter.com/drgsrao/status/134775880790...,NaN,NaN,NaN,NaN,NaN,NaN
3,453532,NaN,09/01/2021,NaN,NaN,NaN,Bhadradri Kothagudem,Telangana,TG,8,Hospitalized,NaN,NaN,http://twitter.com/drgsrao/status/134775880790...,NaN,NaN,NaN,NaN,NaN,NaN
4,453533,NaN,09/01/2021,NaN,NaN,NaN,Hyderabad,Telangana,TG,61,Hospitalized,NaN,NaN,http://twitter.com/drgsrao/status/134775880790...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
rd_df.shape

(25791, 20)

In [6]:
rd_df.isnull().sum()

Entry_ID                                         0
State Patient Number                         25791
Date Announced                                   0
Age Bracket                                  25776
Gender                                       25776
Detected City                                25790
Detected District                              366
Detected State                                   0
State code                                       0
Num Cases                                        0
Current Status                                   0
Contracted from which Patient (Suspected)    25791
Notes                                        25752
Source_1                                       581
Source_2                                     24176
Source_3                                     25791
Nationality                                  25791
Type of transmission                         25791
Status Change Date                           25791
Patient Number                               25791
dtype: int64