In [1]:
import pandas as pd
import numpy as np
import math
import os

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Create numpy array from list
list1 = [2, 4, 6, 8, 10]

arr1 = np.array(list1) # create numpy array
arr1

array([ 2,  4,  6,  8, 10])

In [3]:
arr1.shape

(5,)

In [4]:
type(arr1)

numpy.ndarray

In [5]:
# With numpy, we can perform vector operations
arr1 + 1

array([ 3,  5,  7,  9, 11])

In [6]:
# create an array from 2-d list
list2 = [[9, 0, 4, 6],
        [4, 6, 2, 1]]
arr2 = np.array(list2)
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [7]:
arr2.shape

(2, 4)

In [9]:
# create a float array instead of int
arr3 = np.array(list2, dtype = 'float')
arr3

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [10]:
# convert the float array back to int
arr4 = arr3.astype('int')
arr4

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [11]:
# create a 'boolean' array from a list
arr5 = np.array(list2, dtype = 'bool')
arr5

array([[ True, False,  True,  True],
       [ True,  True,  True,  True]])

In [12]:
# we have true for numbers and false wherever there is a 0

In [13]:
arr6 = np.array([1, 2, 3, 4, 5, 6])
arr6

array([1, 2, 3, 4, 5, 6])

In [16]:
# convert an array back to list
list6 = arr6.tolist()
list6

[1, 2, 3, 4, 5, 6]

#### Array Dimensions

In [17]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [18]:
arr2.shape # rows x columns

(2, 4)

In [19]:
arr2.size

8

In [20]:
arr2.dtype

dtype('int32')

In [23]:
# check the dimensions of the array
arr2.ndim

2

#### Reversing rows and columns

In [24]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [25]:
# reverse the rows
arr2[::-1]

array([[4, 6, 2, 1],
       [9, 0, 4, 6]])

In [26]:
# reverse both rows and columns
arr2[::-1, ::-1]

array([[1, 2, 6, 4],
       [6, 4, 0, 9]])

#### Extract specific elements

In [28]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [29]:
# accessing elements of row 1 ( 0 = first row, : = all columns)
arr2[0, :]

array([9, 0, 4, 6])

In [30]:
# access rows 'till' 1 (excluding 1)
arr2[:1, :]

array([[9, 0, 4, 6]])

In [31]:
# access rows till 2 (excluding 2)
arr2[:2, :]

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [32]:
# access all rows 'except' the last row
arr2[:-1, :]

array([[9, 0, 4, 6]])

In [33]:
# access all rows of the 'last' column
arr2[:, -1]

array([6, 1])

In [34]:
# access all rows of column 1 and 2
arr2[:, 1:3]

array([[0, 4],
       [6, 2]])

#### Basic Statistics

In [35]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [36]:
# find min value
arr2.min()

0

In [37]:
# find max value
arr2.max()

9

In [38]:
# find sum of all elements
arr2.sum()

32

In [39]:
# find mean of array elements
arr2.mean()

4.0

In [40]:
# find median 
np.median(arr2)

4.0

In [41]:
# find variance
np.var(arr2)

7.75

#### Reshaping and flattening