In [42]:
import pandas as pd
import numpy as np
import math
import os

import warnings
warnings.filterwarnings('ignore')

In [43]:
# Create numpy array from list
list1 = [2, 4, 6, 8, 10]

arr1 = np.array(list1) # create numpy array
arr1

array([ 2,  4,  6,  8, 10])

In [44]:
arr1.shape

(5,)

In [45]:
type(arr1)

numpy.ndarray

In [46]:
# With numpy, we can perform vector operations
arr1 + 1

array([ 3,  5,  7,  9, 11])

In [47]:
# create an array from 2-d list
list2 = [[9, 0, 4, 6],
        [4, 6, 2, 1]]
arr2 = np.array(list2)
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [48]:
arr2.shape

(2, 4)

In [49]:
# create a float array instead of int
arr3 = np.array(list2, dtype = 'float')
arr3

array([[9., 0., 4., 6.],
       [4., 6., 2., 1.]])

In [50]:
# convert the float array back to int
arr4 = arr3.astype('int')
arr4

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [51]:
# create a 'boolean' array from a list
arr5 = np.array(list2, dtype = 'bool')
arr5

array([[ True, False,  True,  True],
       [ True,  True,  True,  True]])

In [52]:
# we have true for numbers and false wherever there is a 0

In [53]:
arr6 = np.array([1, 2, 3, 4, 5, 6])
arr6

array([1, 2, 3, 4, 5, 6])

In [54]:
# convert an array back to list
list6 = arr6.tolist()
list6

[1, 2, 3, 4, 5, 6]

#### Array Dimensions

In [55]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [56]:
arr2.shape # rows x columns

(2, 4)

In [57]:
arr2.size

8

In [58]:
arr2.dtype

dtype('int32')

In [59]:
# check the dimensions of the array
arr2.ndim

2

#### Reversing rows and columns

In [60]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [61]:
# reverse the rows
arr2[::-1]

array([[4, 6, 2, 1],
       [9, 0, 4, 6]])

In [62]:
# reverse both rows and columns
arr2[::-1, ::-1]

array([[1, 2, 6, 4],
       [6, 4, 0, 9]])

#### Extract specific elements

In [63]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [64]:
# accessing elements of row 1 ( 0 = first row, : = all columns)
arr2[0, :]

array([9, 0, 4, 6])

In [65]:
# access rows 'till' 1 (excluding 1)
arr2[:1, :]

array([[9, 0, 4, 6]])

In [66]:
# access rows till 2 (excluding 2)
arr2[:2, :]

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [67]:
# access all rows 'except' the last row
arr2[:-1, :]

array([[9, 0, 4, 6]])

In [68]:
# access all rows of the 'last' column
arr2[:, -1]

array([6, 1])

In [69]:
# access all rows of column 1 and 2
arr2[:, 1:3]

array([[0, 4],
       [6, 2]])

#### Basic Statistics

In [70]:
arr2

array([[9, 0, 4, 6],
       [4, 6, 2, 1]])

In [71]:
# find min value
arr2.min()

0

In [72]:
# find max value
arr2.max()

9

In [73]:
# find sum of all elements
arr2.sum()

32

In [74]:
# find mean of array elements
arr2.mean()

4.0

In [75]:
# find median 
np.median(arr2)

4.0

In [76]:
# find variance
np.var(arr2)

7.75

#### Reshaping and flattening

In [94]:
a = [1, 2, 3]
b = [4, 5, 6]

In [91]:
a

[1, 2, 3]

In [92]:
b

[4, 5, 6]

In [95]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]